.hero-unit
  %h1
    Simple Chat
  %p
    Yes; A simple chat example using 
    = link_to "PusherApp", "http://pusherapp.com", :target => "_blank"
    You can view the code for this example 
    = link_to "here", "http://hookercookerman.github.com/simple-chat"
  %p
    How to use?

    Login/Signup Any email address will do!
    there is no email confirmation this is just an example!

    Once you are logged in; you can chat Great!!
  %p
    However you will need someone to talk to; 
  %p
    if you are lucky someone will click on the admin link 
    and will see that you are online and talk to you otherwise. 
  %p
    You will have to create another email (remember use any just make it up) and open another 
    browser window and Chat to yourself. I do its ok go for it!
